<!DOCTYPE html>
<html lang="ko">
  <head>
      <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
     
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <meta charset="utf-8">
    <title>COUNT</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      
      <br>
      <ul class=" nav nav-tabs">
          <li role="presentation"><a href="home.html">Home</a></li>
          <li role="presentation" class="active"><a href="about.html">About</a></li>
          <li role="presentation"><a href="result.html">Result</a></li>
        </ul> 
    <h1>ABOUT</h1>
    <br>
    <p>글자를 세주는 워드카운트 페이지.</p>
    <br>
    <a href="{%url 'home'%}">Home으로 돌아가기</a></nav>
</div>
  </body>
</html>
